* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: #000080e7;
  padding: 1rem;
}

main {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  main {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}

.episodes ol {
    padding-top: 10px;
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: tan;
  cursor: pointer;
  border-radius: 10px;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: #d2b48c;
  border-radius: 20px;
}